.mobile {
  width: 300px;
  height: 600px;
  border: 10px solid #592340;
  margin: auto;
  border-radius: 45px;
  overflow: hidden; /* Hide any overflow content from the inner box */
  position: relative;
  background-color: #fc9ec2;
}
.top-camera {
  width: 50%;
  height: 20px;
  background-color: #592340;
  margin: auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.inner-box {
  width: 100%;
  height: 0;
  background-color: white;
  position: absolute;
  bottom: 0;
  border-radius: 38px;
  transition: height 0.5s ease; /* Add a transition for the 'height' property */
}
.hr-line {
  width: 40px;
  margin: auto;
  height: 3px;
  margin-top: 10px;
  background-color: gray;
}
h1 {
  font-family: Source Sans Pro, sans-serif;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 35px;
  font-weight: bold;
  color: #592340;
  font-weight: 900;
}
.open {
  .inner-box {
    height: 400px; /* Set the height to expand when the 'open' class is present */
  }
}
